{% extends 'main.html' %}

{% block content %}

<div>
    <a href="">Back to Message Hub</a>
</div>

<!-- display textbox to send chat -->
<div>
    <form action="">
        <fieldset>
            <legend>Message to RECIEVER'S USERNAME PLACEHOLDER</legend>
            <textarea name="message_to_send"></textarea><br>
            <input type="submit" value="Send">
        </fieldset>
    </form>
</div>

<!-- display chats with the last to first -->

<!-- for each chat shared betwenn current user and this user -->
<div>   
    <div>
        <p>From: SENDER'S USERNAME PLACEHOLDER</p>
    </div>
    <div>
        <p>TIMESTAMP PLACEHOLDER - FORMAT: DD/MM/YYYY HH:MM</p>
    </div>
    <div>
        <p>MESSAGE PLACEHOLDER</p>
    </div>
</div>

{% endblock content %}