{% extends 'main.html' %}

{% block content %}

<style>

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.sidebar {
    padding: 5px;
}

</style>

<div class="container">
    
    <div class="sidebar">
      
        <h1>Chats</h1>
        <hr>

        <!-- For each person the user has chatted with -->
        <div class="usr-select">
            <form method="GET" action="">
                <input name="usr" type="button" value="USER 1">
            </form>    
        </div>
        <!-- End For -->

        <hr>

        <div class="find-usr">
            <form method="GET" action="">
                <input name="usr" type="text" placeholder="Start a chat with...">
                <button type="submit">></button>
            </form>
        </div>


    </div>
    
    <div class="main-block">
        
        <p>Random Text Blah Blah</p>

    </div>

</div>

{% endblock content %}
