{% extends 'main.html' %}

{% block content %}

<div class="back_link">
    <a href="{% url 'chat_hub' %}">Back</a>
</div>

<!-- display textbox to send chat -->
<div class="send-chat-block">
    <form action="" method="POST">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Send">
    </form>
</div>

<!-- display chats with the last to first -->

<!-- for each chat in messages -->
<div class="chats-block">
    {% for chat in chats %}
    <div class="chat"> 
        <p>From: {{chat.sender}}</p>
        <p>TODO: time_sent to string</p><br>
        <p>{{chat.body}}</p><br>
    </div>
    {% endfor %}
</div>

{% endblock content %}
