{% extends 'main.html' %}

{% block content %}

<!-- user chats side bar -->
<div class="sidebar">
    <!-- for each chat ... -->
    <div>
        <p>USERNAME OF CHATTER</p>
    </div>
</div>

<!-- user chat main screen -->
<div class="main-block">

    <!-- display textbox to send chat -->
    <div class="send-message-block">
        <form action="">
            <input type="text" maxlength="255">
            <input type="submit" value="Send">
        </form>
    </div>

    <!-- display chats with the last to first -->
    
    <!-- for each chat shared betwenn current user and this user -->
    <div class="messages-block">
        <div class="message"> 
            <p>From: SENDER'S USERNAME PLACEHOLDER</p><br>
            <p>TIMESTAMP PLACEHOLDER - FORMAT: DD/MM/YYYY HH:MM</p><br>
            <p>MESSAGE PLACEHOLDER</p><br>
        </div>
    </div>

</div>

{% endblock content %}