{% extends 'main.html' %}

{% block content %}

<style>

.search-container {

    display: grid;
    grid-template-columns: 300px 1fr;
    padding: 10px;

}

.filter-sidebar {
    padding: 2px;
}

.search-results {
    padding: 2px;
}

</style>

<div class="search-container">

    <div class="filter-sidebar">

        <h1>Filters</h1>

    </div>

    <div class="serach-results">

        <h3>results for "{{searchQuery}}"</h3>

        {% for result in results %}

        <a>{{result.textbook_name}}</a>

        {% endfor %}

    </div>

</div>

{% endblock %}